body {

}

.hide {
    display: none;
}


.top-buffer {
    margin-top: 100px;
}

#logInHeader {
    text-align: center;
}

.outline {
    /*outline: 1px solid black;*/
    margin-top: 10px;
    /*background-color: #7FFF99;*/
    border-radius: 10px;
}

#signUpForm {
    background-color: #68E8A6;
}